{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "brace-style": [2, "allman"],
        "indent": [2, 4],
    }
}